#ignore plugins in zsh
zsh/.config/zsh/.histfile
#zsh/.config/zsh/.p10k.zsh
#zsh/.config/zsh/plugins/
tmux/.config/tmux/.tmux/
tmux/.config/tmux/plugins/
nvim/.config/nvim/undodir
waybar/.config/waybar/exampleconfig
waybar/.config/waybar/examplecss


