[submodule "scripts/.local/scripts"]
	path = scripts/.local/scripts
	url = https://github.com/rfqarbee/scripts.git
	branch = master
[submodule "nvim/.config/nvim"]
	path = nvim/.config/nvim
	url = https://github.com/rfqarbee/nvim.rb.git
	branch = main
[submodule "dwm/.config/dwm"]
	path = dwm/.config/dwm
	url = https://github.com/rfqarbee/dwm
