[submodule "personal/scripts"]
	path = personal/scripts
	url = https://github.com/rfqarbee/scripts.git
[submodule "personal/nvim"]
	path = personal/nvim
	url = https://github.com/rfqarbee/nvim.rb.git
