// https://yalter.github.io/niri/Configuration:-Introduction
// https://yalter.github.io/niri/Configuration:-Input
input {
  keyboard {
    xkb {
      layout "us"
      options "grp:win_space_toggle,compose:ralt,ctrl:nocaps"
    }
  }
  mouse {
    accel-profile "flat"
  }

  warp-mouse-to-focus
  focus-follows-mouse max-scroll-amount="0%"
   workspace-auto-back-and-forth
}

output "DP-1" {
  focus-at-startup
  variable-refresh-rate on-demand=true
  mode "1920x1080"
  scale 1
  transform "normal"
  position x=1280 y=0
}

output "DP-2" {
  variable-refresh-rate on-demand=true
  mode "1920x1080"
  scale 1
  transform "normal"
}

// https://yalter.github.io/niri/Configuration:-Layout
layout {
   // border {
  // }
  tab-indicator {
    position "top"
    active-color "#34eba8"
    width 10
    length total-proportion=1.0
    gap 6
  }
  gaps 10
  always-center-single-column
  center-focused-column "never"
  background-color "transparent"

  preset-column-widths {
    proportion 0.33333
    proportion 0.5
    proportion 1.0
  }
  preset-window-heights {
    proportion 0.5
    proportion 1.0

  }

  default-column-width { proportion 0.5; }
  focus-ring {
    width 1
    active-gradient from="#9d00e0" to="#d64971" angle=45 relative-to="workspace-view"
    inactive-gradient from="#505050" to="#808080" angle=45 relative-to="workspace-view"
  }

  shadow {
    on

    draw-behind-window true
    softness 25
    spread 1
    offset x=0 y=2
    color "#86a5e3"
  }

  struts {
    // left 64
    // right 64
    // top 64
    // bottom 64
  }
}


layer-rule {
  match namespace="swww-daemon"
  place-within-backdrop true
}

overview {
  // workspace-shadow {
  //   off
  // }
}

spawn-at-startup "waybar"
spawn-sh-at-startup "swww-daemon --format argb"
spawn-sh-at-startup "systemctl --user start hyprpolkitagent"
spawn-sh-at-startup "nm-applet --indicator"
spawn-sh-at-startup "wl-paste --type image --watch cliphist store"
spawn-sh-at-startup "wl-paste --type text --watch cliphist store"
spawn-at-startup "swaync"
spawn-at-startup "blueman-applet"
spawn-at-startup "udiskie"

spawn-at-startup "ferdium"
spawn-at-startup "vesktop"
spawn-at-startup "steam"
spawn-at-startup "superproductivity"

hotkey-overlay {
  skip-at-startup
}

prefer-no-csd

environment {
  ELECTRON_OZONE_PLATFORM_HINT "auto"
  QT_QPA_PLATFORMTHEME "qt5ct"
  QT_QPA_PLATFORMTHEME "qt6ct"
  QT_WAYLAND_DISABLE_WINDOWDECORATION "1"
  QT_QPA_PLATFORM "wayland"
  QT_AUTO_SCREEN_SCALE_FACTOR "1"

  GBM_BACKEND "nvidia-drm"
  __GLX_VENDOR_LIBRARY_NAME "nvidia"

  MOZ_DISABLE_RDD_SANDBOX "1"
  EGL_PLATFORM "wayland"
}

screenshot-path "~/Pictures/Screenshots/Screenshot from %Y-%m-%d %H-%M-%S.png"

// https://yalter.github.io/niri/Configuration:-Animations
animations {
  slowdown 2.0
}

workspace "dev"{
  open-on-output "DP-1"
}

workspace "gen" {
  open-on-output "DP-1"
}

workspace "dp2" {
  open-on-output "DP-2"
}

window-rule {
    match app-id="steam" title=r#"^notificationtoasts_\d+_desktop$"#
    default-floating-position x=10 y=10 relative-to="bottom-right"
}

window-rule {
  match app-id="zen" title="Zen Browser"
  match app-id="DBeaver"
  match app-id="HTTPie"
  match app-id="NoSQLBooster for MongoDB"
  match app-id="mgcb-editor-linux"
  open-on-workspace "dev"
  default-column-width { proportion 0.5; }
}

window-rule {
  match at-startup=true app-id="superProductivity"
  match app-id="^[Gg]imp" title="^[Gg]IMP Startup$"

  open-maximized true
  open-on-workspace "gen"
}
window-rule {
  match app-id="superProductivity"
  match app-id="com.obsproject.Studio"
  match app-id="[Gg]imp"
  match title="Kraken"

  open-focused true
  open-maximized true
  open-on-workspace "gen"
}

window-rule {
  match app-id="io.github.celluloid_player.Celluloid"
  match app-id="mpv"

  open-focused true
  open-maximized true
  open-on-workspace "gen"
}

window-rule {
  match app-id="zen" title="Zen Browser"
  open-maximized true
}

window-rule {
  match app-id="foot"
  match app-id="steam" title="Steam"
  open-maximized true
}


window-rule {
  match app-id="org.pulseaudio.pavucontrol"
  match app-id="org.gnome.seahorse.Application"
  match app-id="blueman-manager"
  match app-id="java" title="Dbeaver" //load screen
  match app-id="org.kde.gwenview"
  match app-id="[Tt]hunar"
  match app-id="feh"
  match app-id="yad" title="lockscreen"
  match app-id="steam" title="Friends List"
  open-floating true
}

window-rule {
  match at-startup=true app-id="ferdium"
  match at-startup=true app-id="vesktop"
  open-focused false
  open-maximized true
  open-on-workspace "dp2"
}

window-rule {
  match app-id="vesktop"
  match app-id="ferdium"
  open-maximized true
  open-on-workspace "dp2"
}

window-rule {
  match app-id="Minecraft Launcher"
  match app-id="steam"
  open-on-workspace "dp2"
}

// https://yalter.github.io/niri/Configuration:-Window-Rules
window-rule {
  opacity 1.0
  default-column-width { proportion 0.5; }
}

window-rule {
    match is-window-cast-target=true

    focus-ring {
        active-color "#f38ba8"
        inactive-color "#7d0d2d"
    }

    border {
        inactive-color "#7d0d2d"
    }

    shadow {
        color "#7d0d2d70"
    }

    tab-indicator {
        // active-color "#f38ba8"
        // inactive-color "#7d0d2d"
    }
}

window-rule {
  match app-id=r#"^org\.keepassxc\.KeePassXC$"#
  match app-id=r#"^org\.gnome\.World\.Secrets$"#
  block-out-from "screen-capture"
  // Use this instead if you want them visible on third-party screenshot tools.
  // block-out-from "screencast"
}

window-rule {
  draw-border-with-background false
  geometry-corner-radius 8
  clip-to-geometry true
}

// include "keybinds.kdl"

binds {
  Mod+Shift+Slash { show-hotkey-overlay; }
  Mod+Slash {spawn-sh "$LOCAL_DIR/scripts/search.sh"; }
  Mod+M {spawn-sh "$LOCAL_DIR/scripts/music.sh"; }
  Mod+Shift+W {spawn-sh "$LOCAL_DIR/scripts/wallpaper_change.sh"; }
  Mod+F7 {spawn-sh "$LOCAL_DIR/scripts/watchwaybar.sh"; }
  Mod+F8 {spawn-sh "$LOCAL_DIR/scripts/clipboard.sh"; }
  Mod+F10 { spawn-sh "foot --title BTOP -e htop"; }


  Mod+Return hotkey-overlay-title="Foot" { spawn "foot"; }
  Mod+F hotkey-overlay-title="File Manager" { spawn "thunar"; }
  Mod+End hotkey-overlay-title="Screenlock" { spawn "hyprlock"; }

  Mod+P hotkey-overlay-title="Rofi" { spawn-sh "rofi -show drun -theme ~/.config/rofi/applaunch.rasi"; }
  Mod+B hotkey-overlay-title="browser" { spawn "zen-browser"; }

  // Mod+m allow-when-locked=true { spawn "brightnessctl" "--class=backlight" "set" "+10%"; }
  // Mod+n allow-when-locked=true { spawn "brightnessctl" "--class=backlight" "set" "10%-"; }

  Mod+O repeat=false { toggle-overview; }
  Mod+Q repeat=false { close-window; }

  // focus
  Mod+H     { focus-column-left; }
  Mod+J     { focus-window-down; }
  Mod+K     { focus-window-up; }
  Mod+L     { focus-column-right; }

  Alt+Tab { focus-window-down-or-top; }
  Alt+Shift+Tab { focus-window-up-or-bottom; }
  Alt+Grave { focus-column-right-or-first;}
  Alt+Shift+Grave { focus-column-left-or-last;}

  Alt+Escape { focus-monitor-next;}
  Mod+S { focus-window-previous;}
  Mod+Shift+H     { move-column-left; }
  Mod+Shift+L     { move-column-right; }
  Mod+Shift+J    { move-window-down; }
  Mod+Shift+K     { move-window-up; }

  Mod+U     { focus-workspace-down; }
  Mod+I     { focus-workspace-up; }
  Mod+SHIFT+U         { move-window-to-workspace-down; }
  Mod+Shift+I         { move-window-to-workspace-up; }

  Mod+Up hotkey-overlay-title="Move workspace up"  { move-workspace-up;}
  Mod+Down hotkey-overlay-title="Move workspace down" { move-workspace-down;}
  Mod+Shift+Grave hotkey-overlay-title="Move workspace to right monitor"  { move-workspace-to-monitor-next; }
  Mod+Shift+Left hotkey-overlay-title="Move window to left monitor" { move-window-to-monitor-left; }
  Mod+Shift+Right hotkey-overlay-title="Move window to right monitor" { move-window-to-monitor-right; }
  Mod+Left hotkey-overlay-title="Move column to left monitor"     { move-column-to-monitor-left; }
  Mod+Right hotkey-overlay-title="Move column to right monitor"     { move-column-to-monitor-right; }

  Mod+Ctrl+Home hotkey-overlay-title="Move Column to first" { move-column-to-first; }
  Mod+Ctrl+End hotkey-overlay-title="Move Column to last"  { move-column-to-last; }


  Mod+WheelScrollUp cooldown-ms=150  { focus-column-left; }
  Mod+WheelScrollDown cooldown-ms=150 { focus-column-right; }
  Mod+Shift+WheelScrollDown      cooldown-ms=150 { focus-workspace-down; }
  Mod+Shift+WheelScrollUp        cooldown-ms=150 { focus-workspace-up; }

  Mod+1 { focus-workspace 1; }
  Mod+2 { focus-workspace 2; }
  Mod+3 { focus-workspace 3; }
  Mod+4 { focus-workspace 4; }
  Mod+5 { focus-workspace 5; }
  Mod+6 { focus-workspace 6; }
  Mod+7 { focus-workspace 7; }
  Mod+8 { focus-workspace 8; }
  Mod+9 { focus-workspace 9; }
  Mod+Shift+1 { move-column-to-workspace 1; }
  Mod+Shift+2 { move-column-to-workspace 2; }
  Mod+Shift+3 { move-column-to-workspace 3; }
  Mod+Shift+4 { move-column-to-workspace 4; }
  Mod+Shift+5 { move-column-to-workspace 5; }
  Mod+Shift+6 { move-column-to-workspace 6; }
  Mod+Shift+7 { move-column-to-workspace 7; }
  Mod+Shift+8 { move-column-to-workspace 8; }
  Mod+Shift+9 { move-column-to-workspace 9; }


  Mod+BracketLeft  { consume-or-expel-window-left; }
  Mod+BracketRight { consume-or-expel-window-right; }
  Mod+Comma  { consume-window-into-column; }
  Mod+Period { expel-window-from-column; }

  Mod+W { switch-preset-column-width; }
  Mod+R { switch-preset-window-height; }
  Mod+Ctrl+W { reset-window-height; }
  Mod+Space { maximize-column; }
  F11 { fullscreen-window; }

  Mod+C { center-column; }
  Mod+Ctrl+C { center-visible-columns; }

  Mod+Minus { set-column-width "-10%"; }
  Mod+Equal { set-column-width "+10%"; }

  Mod+Shift+Minus { set-window-height "-10%"; }
  Mod+Shift+Equal { set-window-height "+10%"; }

  Mod+V       { toggle-window-floating; }
  Mod+Shift+V { switch-focus-between-floating-and-tiling; }

  Mod+G { toggle-column-tabbed-display; }

  Print { screenshot; }
  Mod+Shift+S { spawn-sh "grimshot.sh --swappy";}
  Mod+Shift+Print { screenshot-screen; }
  Ctrl+Print { screenshot-window; }

  Mod+BackSlash allow-inhibiting=false { toggle-keyboard-shortcuts-inhibit; }

  Mod+Shift+End { quit; }
}

