// https://yalter.github.io/niri/Configuration:-Layout
layout {
  tab-indicator {
    position "top"
    active-color "#e0c600"
    inactive-color "#8f9491"
  }
  gaps 10
  center-focused-column "on-overflow"
  // default-column-display "tabbed"
  background-color "transparent"

  preset-column-widths {
    proportion 0.33333
    proportion 0.5
    proportion 1.0
  }
  preset-window-heights {
    proportion 0.5
    proportion 1.0

  }

  default-column-width { proportion 0.5; }
  focus-ring {
    width 1
    active-gradient from="#9d00e0" to="#d64971" angle=45 relative-to="workspace-view"
    inactive-gradient from="#505050" to="#808080" angle=45 relative-to="workspace-view"
  }

  shadow {
    on

    draw-behind-window true
    softness 25
    spread 1
    offset x=0 y=2
    color "#86a5e3"
  }

  struts {
    // left 64
    // right 64
    // top 64
    // bottom 64
  }
}

layer-rule {
  match namespace="swww-daemon"
  shadow {
        on
        // off
        softness 40
        spread 5
        offset x=0 y=5
        draw-behind-window true
        color "#00000064"
        // inactive-color "#00000064"
    }

    geometry-corner-radius 12
    place-within-backdrop true
    baba-is-float true
}

overview {
  // workspace-shadow {
  //   off
  // }
}
