@import "~/.config/rofi/config.rasi"

/* ---- Window ---- */
window {
	width: 40%;
	//orientation: horizontal;
	height: inherit;
    y-offset: 10px;
    location: north;
    children: [ "entry", "message" ];
    border: 2px;
    border-radius: 20px;
    border-color: white/25%;
}

/* ---- Entry ---- */
entry {
	expand: true;
    background-color: @background;
    text-color: white;
	placeholder: " 🔎 Search";
	horizontal-align: 0.5;
	padding: 15px;
}

