* {
  /* background-color: #11111e; */
  border: none;
  border-radius: 5px;
  font-family: "JetbrainsMono Nerd Font";
  font-size: 14px;
  min-height: 0px;
}

#window {
  margin-top: 2px;
  padding-left: 10px;
  padding-right: 10px;
  border-radius: 5px;
  transition: none;
}

window#waybar {
  background-color: transparent;
  transition-property: background-color;
  transition-duration: 0.5s;
}

/* make window module transparent when no windows present */
window#waybar.empty #window {
  background-color: transparent;
}

window#waybar.Alacritty {
  color: #ffffff;
}
window#waybar.firefox {
  color: #ff9500;
}
window#waybar.discord {
  color: #7289d9;
}
window#waybar.steam {
  color: #66c0f4;
}

/* workspaces css */
#workspaces button {
  border-radius: 10px;
  margin: 0.25rem;
  color: white;
  background: #0d1137;
}

#workspaces button.focused {
  /* color: white; */
  /* background: #1f1f1f; */
  /* border-bottom: 3px solid #ffffff; */
}

#workspaces button.focused:hover {
  /* color: #e52165; */
  /* background: #0d1137; */
  /* border-bottom: 3px solid #ffffff; */
}

#workspaces button.urgent {
  /* background-color: #eb4d4b; */
}

#workspaces button.active {
  background: #e0cdbe;
  color: #1e3d59;
}

#workspaces button:hover {
  color: #fef0e1;
  border-radius: 2px;
  background: #1e3d59;
}

#keyboard-state {
  padding: 0 0.5rem;
  background-color: @surface0;
  color: @text;
  margin: 0.25rem;
}

#network {
  margin-top: 6px;
  margin-left: 8px;
  padding-left: 10px;
  padding-right: 5px;
  border-radius: 10px;
  transition: none;
  color: #e5e8c7;
  background: #0d1137;
}

#wireplumber {
  margin-top: 6px;
  margin-left: 8px;
  padding-left: 10px;
  padding-right: 5px;
  border-radius: 10px;
  transition: none;
  background: #0d1137;
  color: #e5e8c7;
}
#wireplumber.muted {
  color: #ba391a;
}

#clock {
  margin-top: 6px;
  margin-left: 8px;
  padding-left: 10px;
  padding-right: 10px;
  margin-bottom: 0px;
  border-radius: 10px;
  transition: none;
  color: #e5e8c7;
  background: #0d1137;
}

#memory {
  margin-top: 6px;
  margin-left: 8px;
  padding-left: 10px;
  margin-bottom: 0px;
  padding-right: 10px;
  border-radius: 10px;
  transition: none;
  color: #e5e8c7;
  background: #ddb6f2;
}
#cpu {
  margin-top: 6px;
  margin-left: 8px;
  padding-left: 10px;
  margin-bottom: 0px;
  padding-right: 10px;
  border-radius: 10px;
  transition: none;
  color: #e5e8c7;
  background: #96cdfb;
}

#custom-launcher {
  font-size: 20px;
  margin: 1px 1px 1px 8px;
  padding-left: 10px;
  padding-right: 5px;
  border-radius: 5px;
  transition: none;
  color: #89dceb;
  background: #0d1137;
}

#custom-power {
  font-size: 20px;
  margin: 5px 5px 1px 8px;
  padding-left: 10px;
  padding-right: 5px;
  border-radius: 5px;
  transition: none;
  color: #e5e8c7;
  background: #0d1137;
}

#custom-cliphist {
  font-size: 20px;
  margin-top: 6px;
  margin-left: 8px;
  padding-left: 10px;
  padding-right: 5px;
  border-radius: 10px;
  transition: none;
  color: #e5e8c7;
  background: #0d1137;
}
#custom-updates {
  font-size: 20px;
  margin-top: 6px;
  margin-left: 8px;
  padding-left: 10px;
  padding-right: 5px;
  border-radius: 10px;
  transition: none;
  color: #e5e8c7;
  background: #0d1137;
}
